<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "logo": "{{ .Site.Params.globals.logo.path | absURL }}",
  "description": "{{ .Site.Params.description }}",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "{{ .Site.Params.contact.email }}",
    "contactType": "Customer Service"
  },
  "sameAs": [
    "https://twitter.com/{{ .Site.Params.globals.social.twitter | strings.TrimPrefix "@" }}",
    "https://linkedin.com/company/{{ .Site.Params.globals.social.linkedin }}"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ .Site.BaseURL }}search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

{{ if not .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{ $position := 1 }}
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }
    {{ if .Parent }}
      {{ range .Ancestors.Reverse }}
        {{ if not .IsHome }}
        {{ $position = add $position 1 }}
        ,{
          "@type": "ListItem",
          "position": {{ $position }},
          "name": "{{ .Title }}",
          "item": "{{ .Permalink }}"
        }
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $position = add $position 1 }}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{ end }}

{{ if .IsPage }}
{{ if eq .Type "products" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}",
  "url": "{{ .Permalink }}",
  {{ with .Params.images }}
  "image": [
    {{ range $index, $element := . }}
      {{ if $index }},{{ end }}"{{ $element | absURL }}"
    {{ end }}
  ],
  {{ else }}
    {{ with .Site.Params.images }}
    "image": [
      {{ range $index, $element := . }}
        {{ if $index }},{{ end }}"{{ $element | absURL }}"
      {{ end }}
    ],
    {{ end }}
  {{ end }}
  {{ with .Params.price }}
  "offers": {
    "@type": "Offer",
    "price": "{{ . }}",
    "priceCurrency": "USD"
  },
  {{ end }}
  "brand": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}"
  }
}
</script>
{{ end }}

{{ end }}
